<div class="sidebar col-md-2 col-xs-12">
	{% include next_module.html %}

	{% if page.module %}
		<div class="pagination-section title due-date" >
			<div class="active-current-assignments">
				Current Assignments: <br />{{ site.data.assignments[page.module][0] }}
			</div>
			<br>
			<!--<div class="active-date-range">
				Active:<br />{{ site.data.dates[page.module][0] }}
			</div>-->
			<div class="active-due-date">
				Due: <br />{{ site.data.dates[page.module][1] }}
			</div>
		</div>
	{% endif %}


	{% if prev %}
		<div class="pagination-section">
			<div class="title">
				Previous module:
			</div>
			<a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev_post.url }}">
				{{ prev }} </a>
		</div>
		<hr />
	{% endif %}
	<ul>
		{% for post in site.categories[module] reversed %}
			<li class="{% if post.url == page.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
				<a
						href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
	{% if next %}
		<hr />
		<div class="pagination-section">
			<div class="title">
				Next module:
			</div>
			<a rel="next" class="next" href="{{ site.baseurl }}{{ next_post.url }}"> {{ next }}
			</a>
		</div>
	{% endif %}
</div>
