/*--------------------------------------------------------
| This stylesheet is for the content of the page or site. |
---------------------------------------------------------*/

div.main-container {
    position: relative;
    top: -1em;
    margin: auto;
    padding-top: 0;
    background-color: #fff;
    clear: both;
}

.main-container menu {
    margin: 0;
    margin-right: 2em;
    padding: 0;
    float: left;
    width: 20%;
    min-width: 200px;
    height: 1000px;
    background-color: #D3D7DA;
}
.main-container .product-name {
    /*display: none;*/
    padding: 1em 0.5em;
    margin-left: 0;
    font-weight: lighter;
    font-size: 1.5em;
    color: #fff;
    background-color: #27435C;
}

.side.side-menu-item {
    margin-top: 1em;
}

.side.menuitem {
    display: block;
    font-size: 1em;
    font-weight: lighter;
    padding: 0.5em;
    margin: 0.1em 0;
    text-decoration: none;
    background-color: #F15F50;
    color: #fff;
}

.side.menuitem:hover {
    background-color: #27A2DE;
    color: #fff;
}

.side .dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menuitem.dropdown-item {
    font-size: 0.8em;
    padding-left: 2em;
    margin-top: 0.05em;
    background-color: #27A2DE;
    color: #fff;
}

.dropdown:hover .dropdown-content .side.menuitem.dropdown-item:hover {
    background-color: #fff;
    color: #27A2DE;
}

.main-container main {
    margin: auto;
    padding: 0;
    width: 60%;
    min-width: 399px;
    max-width: 960px;
    height: 100%;
    background-color: #fff;

}

.main-container h1 {
    font-size: 2.5em;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.4em;
    word-spacing: 1em;
    padding: 2em 0em 1em 1.5em;
    margin-top: 0 !important;
    color: #27435C;
    background-color: #fff;
}

.main-container p {
  padding: 2em;
  text-indent: 1.5em;
  line-height: 1.5em;
  text-align: justify;
  color: #27435C;
  margin-top: 0;
}

.dress-gallery {
  display: block;
  width: 100%;
  text-align: center;
}

.dress-gallery img {
  width: 20%;
  margin: .5em;
  display: inline;
  border-radius: 0px;
}

.coupon {
   display: block;
   width: 400px;
   margin: 2em auto;
   background-color: #27A2DE;
   z-index: 1;

   border-top-width: 5px;
   border-bottom-width: 10px;
   border-left-width: 2px;
   border-right-width: 10px;

   border-style: dashed;
   border-bottom-style: solid;
   border-left-style: dotted;
   border-right-style: solid;

   border-top-color: #666;
   border-bottom-color: #222;
   border-left-color: #999;
   border-right-color: #333;
}
.coupon h3 {
  font-size: 1.5em;
  text-align: left;
  padding: .5em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: lighter;
  background-color: #27435C;
  margin: 0;
}
.coupon p {
   text-align: center;
   font-size: inherit;
   margin: 0 !important;
}
.coupon a {
  text-decoration: none;
  color: #FFF;
}
.coupon img {
   width: 200px;
   position: relative;
   top: -3em;
   left: 1em;
   z-index: 2;
}
