
.displayed_code_example {
    padding: 30px;
    margin: ($line-height-computed * 1) ($padding-large-horizontal * -3) ($line-height-computed / 2) ($padding-large-horizontal * -3);
    border: ($padding-large-horizontal * 3) solid $brand-accent;
    // border:2px solid $brand-accent;
    background-color: #fff;
}

.displayed_code_example_pen {
    padding: 30px;
    // margin: ($line-height-computed * 1) ($padding-large-horizontal * -3) ($line-height-computed / 2) ($padding-large-horizontal * -3);
    border: ($padding-large-horizontal * 3) solid $brand-accent;
    // border:2px solid $brand-accent;
    background-color: #f1f1f1;
    line-height: normal;
}

.highlighter-rouge+.displayed_code_example,
.highlight+.displayed_code_example {
    margin-top: -13px;
}


@media (max-width: $screen-md - 1) {
    .displayed_code_example {
        border:2px solid $brand-accent;
        // padding-top: 0;
        // padding-bottom: (($line-height-computed - 1) * 1);
        // padding-left: (($line-height-computed - 1) * 0.25);
        padding: (($line-height-computed - 1) * 0.5);
        margin: 0 0 ($line-height-computed * 0.5 ) 0;
        overflow: auto;
      }
}

@media (max-width: $screen-md - 1) {
    .displayed_code_example_pen {
        border:2px solid $brand-accent;
        // padding-top: 0;
        // padding-bottom: (($line-height-computed - 1) * 1);
        // padding-left: (($line-height-computed - 1) * 0.25);
        padding: (($line-height-computed - 1) * 0.5);
        margin: 0 0 ($line-height-computed * 0.5 ) 0;
        overflow: auto;
      }
}
