---
layout: base
---

<!-- Banner -->
<div class="jumbotron">
	<div class="container text-center">
		{% if site.jumbotron_image %}
			<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}"
			     alt="{{ site.title }} Icon" class="jumbotron_image"/>
		{% endif %}
		<header>
			<h1>{{ site.data.course.title }}</h1>
			<h2>{{ site.data.course.institution }}</h2>
		</header>


	</div>

</div>
<div class="clearfix page-container background-white">
	<section class="col-md-8 col-md-offset-2">
		{{ content }}
	</section>
</div>
